# çevresel değişkenler ve gizli dosyalar
.env

# python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# ortam ve sanal Makineler
venv/
env/

# IDE işletim Sistemi
.vscode/
.idea/
.DS_Store
